:root {
  --black: #000000;
  --indigo: #32425C;
  --indigo-dark: #293449;
  --indigo-supper-dark: #212A3A;
  --indigo-dark-clik: #161D29;
  --indigo-dark-border: #293449;
  --indigo-light-border: #405069;
  --white: #FFFFFF;
  --red: #EE3643;
  --red-hover: #CA2C37;
  --red-clik: #BA2732;
  --red-dark: #B52933;
  --red-dark-clik: #8D1E26;
  --gray: #C5C5C5;
  --gray-background: #F3F7F8;
  --light-gray: #888888;
  --gray-hover: #B5B5B5;
  --gray-clik: #A9A9A9;
  --yellow: #FFBF47;
  --blue: #3BBCE3;
  --lilac: #DC91D8;
  --green: #63A63E;
  --green-hover: #5FBB2D;
  --green-clik: #518534;
  --green-border: #367315;
  --light-green: #8ED78F;
  --crem: #f9f5f0;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: var(--black);
  background-color: var(--white);
}

a {
  text-decoration: none;
  color: var(--black);
}

img {
  max-width: 100%;
  height: auto;
}

.fieldset-border--reset {
  border: 0;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  border: 0;
}

.reset-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button {
  display: block;
  padding: 10px 10px;
  width: 192px;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  text-align: center;
  background-color: var(--red);
  border: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  background-color: var(--red-hover);
}

.button:active {
  background-color: var(--red-dark-clik);
}

/*Header*/

.nav-user {
  align-items: center;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  background-color: var(--indigo);
}

.nav-marker:active,
.nav-basket:active {
  background-color: var(--indigo-dark-clik);
}

.nav-checkout {
  background-color: var(--green);
}

.nav-checkout:hover {
  background-color: var(--green-hover);
}

.nav-basket--active {
  background-color: var(--red);
}

.nav-basket--active:hover {
  background-color: var(--red-hover);
}

.nav-user a {
  color: var(--white);
}

.nav-user input {
  color: var(--white);
  background-color: var(--indigo);
  border: none;
}

.nav-user a:active {
  color: rgba(255, 255, 255, 0.5);
}

.nav-user input:focus {
  color: var(--black);
  background-color: var(--white);
  outline: none;
}

.logo {
  display: block;
  align-items: center;
  padding: 8px;
  max-width: 220px;
  background-color: var(--red);
  border-bottom: 5px solid var(--red-dark);
  text-align: center;
}

.logo--header:active {
  background-color: var(--red-clik);
  border-bottom: 5px solid var(--red-dark-clik);
}

.nav {
  background-color: var(--gray-background);
}

.nav-paragraph {
  max-width: 198px;
  color: var(--red);
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

.tel-number-header {
  align-items: center;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: var(--red);
  border: 3px solid var(--white);
}

.address-header {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  color: var(--indigo);
}

.personal-area a {
  font-size: 21px;
  line-height: 21px;
  align-items: center;
  color: var(--black);
  background-color: var(--white);
}

.personal-links a {
  font-size: 16px;
  line-height: 18px;
  color: var(--indigo);
}

.personal-links a:hover{
  color: var(--red);
}

.personal-links a:active{
  color: var(--gray);
}

.personal-area a:hover {
  color: var(--red);
}

.personal-area a:active {
  color: var(--gray-clik);
}

.personal-section a:hover {
  color: var(--black);
}

.personal-section a:active {
  color: var(--gray);
}

.nav-website a {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  background-color: var(--indigo);
  border-bottom: 5px solid var(--indigo-dark);
}

.nav-website a:hover {
  background-color: var(--indigo-dark);
}

.nav-website a:active {
  color: rgba(255, 255, 255, 0.5);
}

/*Main popular-categories*/

.popular-categories {
  display: block;
  padding: 30px 20px;
  max-width: 300px;
  color: var(--white);
  background-color: var(--yellow);
}

.popular-categories h3 {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  align-items: center;
}

.button--popular-categories {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.3);
}

.button--popular-categories:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.button--popular-categories:active{
  background-color: rgba(169, 169, 169, 0.3);
}

.popular-categories--tool {
  background-color: var(--blue);
}

.popular-categories--technique {
  background-color: var(--lilac);
}

.popular-categories--discount {
  background-color: var(--light-green);
}

.popular-categories-gallery {
  color: var(--white);
}

.popular-categories-gallery h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--white);
}

.popular-categories-gallery--perforators {
  width: 620px;
  height: 266px;
  background-image: url("../img/index/perforators-img.jpg");
  background-repeat: no-repeat;
}

.popular-categories-gallery--drills {
  display: none;
  width: 620px;
  height: 266px;
  background-image: url("../img/index/dreli-img.jpg");
  background-repeat: no-repeat;
}

.section-gallery {
  position: relative;
}

.slider-buttons {
  position: absolute;
  top: 40px;
  left: 10px;
  display: flex;
  justify-content: space-between;
}

.slider-button {
  width: 22px;
  height: 40px;
  background-color: transparent;
}

.slider-button--left {
  background-image: url("../img/index/icon-left.svg");
}

.slider-button--right {
  background-image: url("../img/index/icon-right.svg");
}

.popular-group {
  max-width: 940px;
  background-color: var(--crem);
}

.title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.popular-group .title {
  color: var(--indigo);
}

.card {
  padding: 18px 0;
  max-width: 220px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  border: 1px solid var(--gray);
  text-align: center;
  background-color: var(--white);
}

.card:hover {
  border: none;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.card:active {
  border: none;
  opacity: 0.5;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.card h3 {
  max-width: 185px;
  font-size: 18px;
  line-height: 20px;
}

.card p {
  text-decoration: line-through;
  color: var(--gray-clik);
}

.section-hover-card {
  font-family: 'Cuprum', sans-serif;
}

.button--buy {
  background-color: var(--green);
  border-bottom: 3px solid var(--green-border);
  border-radius: 2px;
}

.button--buy:hover {
  background-color: var(--green-hover);
}

.button--buy:active {
  background-color: var(--green-clik);
}

.button--marker {
  color: var(--indigo);
  background-color: var(--white);
  border: 3px solid var(--green);
  border-radius: 2px;
}

.button--marker:hover {
  background-color: var(--white);
  border: 3px solid var(--indigo);
}

.button--marker:active {
  color: var(--gray-clik);
  background-color: var(--white);
  border: 3px solid var(--gray-clik);
}

.services-title {
  font-size: 30px;
  line-height: 30px;
}

.services-title {
  color: var(--indigo);
}

.services-paragraph {
  max-width: 356px;
}

.button--services {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  background-color: var(--indigo);
  text-transform: none;
  text-align: left;
  border-top: 1px solid var(--indigo-light-border);
  border-bottom: 1px solid var(--indigo-dark-border);
}

.button--services:hover,
.button--services-active:hover {
  color: var(--white);
  background-color: var(--indigo-dark);
}

.button--services:active,
.button--services-active {
  background-color: var(--indigo);
}

.button--services-active {
  color: var(--indigo);
  background-color: var(--white);
}

.service-delivery {
  display: block;
}

.service-guarantee,
.service-credit {
  display: none;
}

.services-group {
  background-color: var(--gray-background);
}

.about-us-paragraph {
  width: 403px;
}

.transport-companies {
  font-size: 18px;
  line-height: 24px;
}

.contact-paragraph {
  width: 181px;
}

/*Catalog*/

.subtitle-catalog,
.subtitle-catalog a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.legend-subtitle {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.label-subtitle {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.section-about-catalog {
  background-color: var(--gray-background);
}

.button--gray {
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--gray-hover);
  border-radius: 2px;
}

.button--gray:hover {
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--gray-clik);
}

.button--gray:active {
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--red);
}

.button--gray-active {
  color: var(--white);
  background-color: var(--red);
  border: 1px solid var(--red);
}

/*Footer*/

.section-footer-nav {
  background-color: var(--indigo);
}

.address-footer,
.address-footer a {
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.footer-nav,
.footer-nav a {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.footer-nav a:hover {
  text-decoration: underline;
}

.footer-nav a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-nav--popular a {
  color: var(--yellow);
}

.section-footer-feedback {
  background-color: var(--indigo-dark);
}

.feedback-paragraph {
  margin: 0;
  width: 228px;
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.feedback-paragraph a {
  color: var(--yellow);
}

.feedback-paragraph a:hover {
 text-decoration: underline;
}

.feedback-paragraph a:active{
  color: var(--red);
  text-decoration: none;
}

.social-link {
  display: flex;
  background-color: var(--indigo-supper-dark);
  width: 44px;
  height: 44px;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
}

.social-link:hover {
  background-color: var(--red);
}

  /*Section Wright us*/

.section-wright-us {
  display: block;
  background-color: var(--white);
  border-top: 7px solid var(--red);
}

.background {
  background-color: var(--gray-background);
}

.lable {
  font-size: 18px;
  line-height: 24px;
}

.input-text {
  font-size: 13px;
  line-height: 24px;
  color: var(--gray-clik);
  border: 2px solid var(--gray-clik);
  border-radius: 2px;
  resize: none;
}

.section-map {
  width: 943px;
  height: 449px;
  border-top: 7px solid var(--red);
}
